table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 400px;
    float: center;
  }
  th.mat-header-cell {
    text-align: left;
    max-width: 300px;
  }
  
  .mat-column-description {
    min-width: 350px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-column-actions {
    text-align: right;
    font-weight: bold;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }